@model BasketViewModel
    <div class="text-center">
        <h2 class="text-danger"> Корзина </h2>
        <br />
    </div>

    @if (Model == null || Model.CountProducts == 0)
    {
        <h4> Корзина пуста и ждет товар </h4>
    }
    else
    {
        <div class="row">
            <div class="col">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <td>  Название  </td>
                            <td>  Цена  </td>
                            <td>  Количество  </td>
                            <td>  Стоимость  </td>
                            <td>
                                <a type="button" class="btn btn-secondary" href="/basket/clear">Очистить корзину</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td> @item.Product.Name</td>
                                <td> @item.Product.Cost</td>
                                <td> @item.Amount</td>
                                <td> @item.Cost</td>
                                <td>
                                    <a type="button" class="btn btn-outline-primary" href="/basket/remove?productId=@item.Product.Id">-</a>
                                    <a type="button" class="btn btn-outline-primary" href="/basket/add?productId=@item.Product.Id">+</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="text-right">
                    <h4>Итоговая сумма: @Model.Cost руб.</h4>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" href="/home/index" role="button">Продолжить покупки</a>
                    <a class="btn btn-success" href="/order/index" role="button">Оформить заказ</a>
                </div>
            </div>
        </div>

    }
